.project-three__single-img img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: 100%; /* Ajusta la imagen al alto del contenedor */
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el contenedor sin deformarse */
    max-width: 100%; /* Evita que la imagen se desborde */
    max-height: 100%; /* Evita que la imagen se desborde */
}